GameConfig(
    drone_count: 2000,
    spatial_map_cell_size: 50.0,
    cohesion_config: RuleConfig(
        radius: 50.0,
        strength: 0.25
    ),
    separation_config: RuleConfig(
        radius: 25.0,
        strength: 0.25
    )
)
